<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jfsoft.task.mapper.PeisMapper" >

    <resultMap type="com.jfsoft.task.entity.TcPerCheckinfo" id="perCheckInfoList">
        <id column="id" property="id" />
        <result column="testno" property="testno" />
        <result column="recodeno" property="recodeno" />
        <result column="name" property="name" />
        <result column="pycode" property="pycode" />
        <result column="sex" property="sex" />
        <result column="age" property="age" />
        <result column="ageunitcode" property="ageunitcode" />
        <result column="areacode" property="areacode" />
    </resultMap>

    <parameterMap id="paramsMap" type="hashmap">
        <parameter property="areacode" mode="IN" javaType="java.lang.String" jdbcType="VARCHAR" />
        <parameter property="rowlimit" mode="IN" javaType="java.lang.String" jdbcType="VARCHAR" />
    </parameterMap>

    <!-- 调用SqlServer存储过程，返回体检者信息 -->
    <select id="getPerCheckinfoList" parameterMap="paramsMap" statementType="CALLABLE" resultMap="perCheckInfoList">
        {call RPT_PER_CHECKINFO(#{areacode}, #{rowlimit})}
    </select>

    <!-- 调用SqlServer存储过程，修改数据状态，确保不再上传此条记录 -->
    <select id="updatePerCheckinfoState" parameterType="java.util.Map" statementType="CALLABLE">
        {call RPT_CALLBACK(
            #{id, mode=IN, jdbcType=INTEGER}
        )}
    </select>

</mapper>
